[submodule "apps/subdomain/auth"]
	path = apps/subdomain/auth
	url = https://github.com/rhkdguskim/chatting-authservice.git
[submodule "apps/subdomain/file"]
	path = apps/subdomain/file
	url = https://github.com/rhkdguskim/chatting-fileservice.git
[submodule "apps/subdomain/user"]
	path = apps/subdomain/user
	url = https://github.com/rhkdguskim/chatting-userservice.git
[submodule "apps/subdomain/chat"]
	path = apps/subdomain/chat
	url = https://github.com/rhkdguskim/chatting-chatservice.git
[submodule "libs/com"]
	path = libs/com
	url = https://github.com/rhkdguskim/chatting-commonlib.git
